/*Place page*/
.place-info {
    background-color: white;
}

.place-map img {
    width: 100%;
}

.place-event {
    border: 1px solid black;
    border-radius: 10px;
}

.place-event .more {
    border: 2px solid black;
    border-radius: 10px;
}
/*End place page*/