/* Newspaper theme header */

#search {
  display: block;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 6px 35px 6px 19px;
  margin: 7px 0;
  height: 28px;
  line-height: 16px;
  width: 100%;
  border-radius: 14px;
  background-image: url("../../images/Texture-271.jpg");
  color: #000000;
}

#search::placeholder{
  color: #333030;
  font-size: 15px;
}

/* Newspaper theme header */

/*Place page*/

.place-info {
  background-color: white;
}

.place-map img {
  width: 100%;
}

.place-event {
  border: 1px solid black;
  border-radius: 10px;
}

.place-event .more {
  border: 2px solid black;
  border-radius: 10px;
}

/*End place page*/



/*
WRITE UNDER THIS COMMENT
 */