/*Comments*/
.info {
    width: 100%;
}

.article-rating, .comments {
    width: 100%;
}

.comment {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.comment-user-info {
    margin: 0 10px;
}
/*End comments*/